.background{
background: rgb(96,108,136); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDZjODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(96,108,136,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(96,108,136,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(96,108,136,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(96,108,136,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(96,108,136,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(96,108,136,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#606c88',GradientType=0 ); /* IE6-8 */
}
.customspan12{
width: 92%;
/*background: #563d7c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2M2Q3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU2M2Q3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzU2M2Q3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzU2M2Q3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #563d7c 0%, #563d7c 50%, #563d7c 53%, #563d7c 99%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#563d7c), color-stop(50%,#563d7c), color-stop(53%,#563d7c), color-stop(99%,#563d7c)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #563d7c 0%,#563d7c 50%,#563d7c 53%,#563d7c 99%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #563d7c 0%,#563d7c 50%,#563d7c 53%,#563d7c 99%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #563d7c 0%,#563d7c 50%,#563d7c 53%,#563d7c 99%); /* IE10+ */
/*background: linear-gradient(to bottom,  #563d7c 0%,#563d7c 50%,#563d7c 53%,#563d7c 99%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#563d7c', endColorstr='#563d7c',GradientType=0 ); /* IE6-8 */
margin-left:0px;
}
.customspan6{
width:50%;
}
.shortcuts{
	margin-top: 22px;
	padding: 3px;
	background-color: white;
	white-space: normal;
	border--radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-color: #0066A4;
	border-width: 2px;
	border-style: solid;
	line-height: 0px;
	width: 10%;
}
.legend{
	width: 100%;
    color:black;
	position: relative;
	top: -10px;
	margin-left: -5px;
	padding: 14px 0px 14px 10px;
	background-color: rgb(48, 37, 37);
	line-height: 2px;
	color: white;
	border--radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.btngrid{
margin: 2% 3% 3% 0%;
padding: 20px 20px;
}
.customspan25{
width:20%;
height:100%;
margin-left:-1%;
}
customspan35{
width:30%;
height:100%;
margin-left:-1%;
}

.leftmenu{
margin: 0 0 10px 25px !important;
font-size:15px !important;
height:100%;

}
.navpillcolor{
color: black !important;
background-color: white !important;
}
.vertical {
    display: table !important;

    vertical-align: middle;
}
.aligncenter{
text-align:center;
margin: 0px auto;
margin-left: 15%;
}
.alignright{
float:right;
text-align:right;
}
.fixedwidth{
width:180px;
height:180px;
}
.fixedwidthpackage{
width:20px;
height:20px;
}
.nowrap{
white-space:nowrap;
}
