  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="ThinEmulator an android emulator as a service"/>
    <meta name="author" content="Thin Emulator Team"/>
    </meta>
<title>Thin Emulator</title>
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css.map"></link>
<link rel="stylesheet" type="text/css" href="./css/bigdata.css"></link>
<link rel="stylesheet" type="text/css" href="./css/style.css"></link>
<script type="text/javascript">
$(document).ready(function(){
			$('.carousel').carousel({
				interval:2000
			});
		});
</script>
</head>
<body class="background">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="index.html">ThinEmulator</a>
		<div class="nav-collapse collapse">
			
			<ul class="nav pull-right" id="signout">
				<li><a href="#">Sign Out</a></li>
			</ul>
		</div>
	</div>
	
</div>
<br/>
<div class="row ">
	<div class="customspan25 leftmenu" id="signup_ui" style="display:none;">
		<br/>
		<div class=" well" >	
			<form method="post" action="#" th:action="@{/signup}" th:object="${userbean}" id="signup">
			<input type="text" th:field="*{username}" placeHolder="First Name" required="required"></input>
			<!-- <input type="text" name="last_name" placeHolder="Last Name" required/>
			<select name="gender" placeHolder="Gender">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</selec>
			<input type="tel"  name="contact_number" placeHolder="Contact Number" required/> -->
			<input type="email" th:field="*{email}" placeHolder="Email Address" required="required"/>
			<!-- <input type="text" name="city" placeHolder="City" required/>
			<input type="text" name="state" placeHolder="State" required/> -->
			<input type="password" th:field="*{password}" placeHolder="password" required="required"/>
			<!-- <input type="password" name="confirm_password" placeHolder="Confirm password" required/> -->
			<br/>
			<input type="submit" class="btn btn-primary alignright" name="signup" value="Sign Up" id="signupbutton" />
			</form>
		</div>
	</div>
	<div class="customspan25 leftmenu" id="userinfo_ui">
		<br/>
		<div class=" well">
			<div class="accordion" >
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
							href="#collapseOne">User Profile</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse in">
						<div class="accordion-inner">
							<ul class="nav nav-pills nav-stacked">
								<li id="logged_in_email"></li>
								<li id="logged_in_username"></li>
							</ul>					
							<div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="mainContent">
	<div class="vertical">
		<div class="customspan8 well">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
				<div class="active item"><img src="./img/image3.jpg"></img></div>
				<!--<div class="item"><img src="public/img/image2.jpg"></img></div>
				<div class="item"><img src="public/img/image3.jpg"></img></div>-->
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	
	<aside class="top-sidebar well" id="login_ui">
					<article>
					<!--<h3>Contact Us : <br/></h3>-->
					<form  method="post" action="#" th:action="@{/login}" th:object="${userbean}" id="signin">
						<input type="text" th:field="*{username}" placeHolder="User Name" required="required"/>
						<input type="password" th:field="*{password}" placeHolder="Password" required="required"/>
						<br/>
						<input type="submit" class="btn btn-primary aligncenter" name="login" value="Login" id="login"/>
					</form>
				    </article>
	</aside>
		</div>
	
		<div class="site-contents">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">What is ThinEmulator ?</a></h2>
					</header>
					
					<footer>
						<p class="post-info">Team ThinEmulator</p>
					</footer>
					
					<content>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
					</content>
					
				</article>

				<article class="bottomcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Frequently asked questions</a></h2>
					</header>

					<footer>
						<p class="post-info">Team ThinEmulator</p>
					</footer>
					
					<content>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</content>
				
				</article>
			</div>	
		</div>
	</div>
</body>
</html>

