  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="ThinEmulator an android emulator as a service"/>
    <meta name="author" content="Thin Emulator Team"/>
    </meta>
<title>Thin Emulator</title>
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/app.js"></script>

<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="./css/bigdata.css"></link>
<link rel="stylesheet" type="text/css" href="./css/style.css"></link>
<script type="text/javascript">
$(document).ready(function(){
			$('.carousel').carousel({
				interval:2000
			});
		});
</script>
</head>
<body class="background">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="index.html">ThinEmulator</a>
		<div class="nav-collapse collapse">
			
			<ul class="nav pull-right" id="homepanel">
				<!--<li><a href="#" >Sign up</a></li>
				<li><a href="#" >Login</a></li>-->
				
				<li><a href="#" id="home">Home</a></li>
				<li><a href="#" id="signout">Sign Out</a></li>
			</ul>
		</div>
	</div>
	
</div>
<br/>
<div class="row ">
	<br/>
	<div class="mainContent">
	<div class="vertical">
		<div class="customspan10 well">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner right">
				<div class="active item"><img src="./img/image3.jpg"></img></div>
				<!--<div class="item"><img src="public/img/image2.jpg"></img></div>
				<div class="item"><img src="public/img/image3.jpg"></img></div>-->
			</div>
		</div>
	</div>
	</div>
		<div class="site-contents">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Welcome to ThinEmulator</a></h2>
					</header>
					
					<content>
						<p>Thank you for registering at ThinEmulator</p>
						<p>You will expect a email on your registered email address.<br/> We will use this email address for further communications.</p>
					</content>
					
				</article>

				<article class="bottomcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Frequently asked questions</a></h2>
					</header>

					<footer>
						<p class="post-info">Team ThinEmulator</p>
					</footer>
					
					<content>
						<b>Why Emulator as a service ?</b><br/>
						<p>As mobile platforms are growing at great speed, developers need to test and support as many devices as possible. These devices have heavy configurations and  purchasing new hardware in order to support emerging trends can incur huge cost.<br/>
						ThinEmulator takes that load off from development environment and eliminates the need for heavily configured machines for development and testing environment. </p>
						<br/>
						<b>How many versions of Android it can support ?</b><br/>
						<p>It can support all the versions of Android. Emulators can be created and launched in just few clicks.</p>
						<br/>
						<b>What it is not ?</b><br/>
						<p>It is not a virtual mobile to keep your personal applications.</p>
					
					</content>
					
				</article>
			</div>	
		</div>
	</div>
</body>
</html>

